<p-toast></p-toast>
<div class="container cambiar-color">
  <div class="col1">
    <img src="/assets/img/logo4-ama.png" alt="Logo AMA" width="40%" height="50%" class="logo4-ama">
    <img src="/assets/img/logo3-ama.png" alt="Logo AMA" width="50%" height="40%" class="logo3-ama">
  </div>
  <div class="flex align-items-center justify-content-center pr-8">
    <mat-card class="p-8">
      <app-title-module title="Bienvenido" [barra]="false" />
      <form class="example-form" [formGroup]="loginForm">
        <mat-form-field class="w-full">
          <mat-label style="color: silver;">Ingrese su Id</mat-label>
          <mat-icon matPrefix aria-label="Icono de usuario">person</mat-icon>
          <input matInput formControlName="username" placeholder="Ex. 0999999999">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label style="color: silver;">Ingrese su Contraseña</mat-label>
          <mat-icon matPrefix aria-label="Icono de candado">lock</mat-icon>
          <input matInput placeholder="" formControlName="password">
        </mat-form-field>

        <section class="form-group">
          <div class="example-button-row">
            <button mat-flat-button color="primary" routerLink="/auth/listar" (click)="onSubmit()">Ingresar</button>
          </div>
        </section>
        <a routerLink="/auth/restaurar-login" class="restaurar-contraseña">Olvidé mi contraseña</a>
      </form>
    </mat-card>
  </div>
</div>
