<div class="container cambiar-color">
    <div class="col1">
        <img src="/assets/img/logo4-ama.png" alt="Logo AMA" width="40%" height="50%" class="logo4-ama">
        <img src="/assets/img/logo3-ama.png" alt="Logo AMA" width="50%" height="40%" class="logo3-ama">
    </div>
    <div class="col2">
        <div class="login-container">
            <h2>Bienvenido</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username"><i class="fa fa-user icon-1-5x"></i></label>
                    <input type="text" id="username" name="username" placeholder="Ingrese su id" required>
                </div>
                <div class="form-group">
                    <label for="password"><i class="fas fa-lock icon-1-5x"></i></label>
                    <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
                </div>
                <div class="form-group">
                    <button type="submit" routerLink="/brigada" (click)="onClickLogin()">Ingresar</button>
                </div>
                <a routerLink="/restaurar-contraseña" class="restaurar-contraseña">Olvidé mi contraseña</a>
            </form>
        </div>
    </div>
</div>
