/* .contenedor{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.padding-content-beneficiario {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

.button-container {
  margin-left: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
}

