<div class="container cambiar-color">
    <div>
        <img src="../../../assets/img/logo-ama.png" alt="Logo AMA" width="15%" height="10%" class="logo-ama" routerLink="/login">
    </div>
    <div class="restaurar">
        <h2 class="titulo">!Ups¡</h2>
        <h2 class="titulo">Olvidaste la contraseña</h2>
        <p class="frase">Por favor ingresa tu email para que puedas restablecer tu contraseña.</p>
        <div class="form-group email">
            <i class="fas fa-envelope icon-1-5x"></i>
            <input type="text" id="email" name="email" placeholder="Ingresa tu correo electronico" class="input-email" required>
        </div>
        <div class="enviar">
            <h5 class="espacio">Enviar</h5>
            <i class="fas fa-arrow-right icon-1-5x cursor"></i>
        </div>
    </div>
</div>
