<div class="container cambiar-color">
    <div>
        <img src="../../../assets/img/logo-ama.png" alt="Logo AMA" width="15%" height="10%" class="logo-ama" routerLink="/login">
    </div>
    <div class="login-container">
        <h2>Restaurar Contraseña</h2>
        <form class="example-form" [formGroup]="resetPasswordForm">
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Icono de candado" style="margin-top: 3.5%; margin-right: 2%;">lock</mat-icon>
                <mat-form-field class="example-full-width">
                    <mat-label style="color: silver;">Nueva Contraseña</mat-label>
                    <input matInput placeholder="" formControlName="newPassword" [type]="showNewPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility('newPassword')">
                        <mat-icon>{{ showNewPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div style="display: flex;">
                <mat-icon aria-hidden="false" aria-label="Icono de candado" style="margin-top: 3.5%; margin-right: 2%;">lock</mat-icon>
                <mat-form-field class="example-full-width">
                    <mat-label style="color: silver;">Confirmar Contraseña</mat-label>
                    <input matInput placeholder="" formControlName="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'">
                    <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')">
                        <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <section class="form-group">
                <div class="example-button-row">
                    <button mat-flat-button color="primary" (click)="onSubmit()">Restablecer</button>
                </div>
            </section>
        </form>
    </div>
</div>
