<div style="padding: 30px;">
  <div class="">
    <app-title-module [title]="name +' beneficiario'" />
  </div>
  <form action="" [formGroup]="formBeneficiario"
    style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 5px;">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="" formControlName="nombre_beneficiario">
      <mat-error>{{getErrors('nombre_beneficiario', 'Nombre')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="" formControlName="apellido_beneficiario">
      <mat-error>{{getErrors('apellido_beneficiario', 'Apellido')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="grid-column: span 3;">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="" formControlName="direccion">
      <mat-error>{{getErrors('direccion', 'Direccion')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefono</mat-label>
      <input matInput placeholder="" formControlName="telefono">
      <mat-error>{{getErrors('telefono', 'Telefono')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="" formControlName="correo">
      <mat-error>{{getErrors('correo', 'Correo')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="grid-column: span 3;">
      <mat-label>Tipo de ayuda</mat-label>
      <textarea matInput formControlName="tipo_ayuda" placeholder=""></textarea>
      <mat-error>{{getErrors('tipo_ayuda', 'Tipo de Ayuda')}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="grid-column: span 3;">
      <mat-label>Descripción recibida</mat-label>
      <textarea matInput formControlName="descripcion_recibida" placeholder=""></textarea>
      <mat-error>{{getErrors('descripcion_recibida', 'Descripción Recibida')}}</mat-error>
    </mat-form-field>

  </form>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="alerta()">Guardar</button>
  </div>
</div>
