<app-title-module title="Voluntarios"></app-title-module>

<app-options-module>
  <button
    mat-raised-button
    color="primary"
    (click)="openAddVoluntarioDialog('Agregar Voluntario')"
  >
    Agregar
  </button>
</app-options-module>

<main class="container">
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id voluntario</mat-header-cell>
        <!-- <mat-cell *matCellDef="let row">x</mat-cell> -->
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="identification">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Identificación</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.identification}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="personId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id de la persona</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.personId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Correo Electrónico</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Número de teléfono</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phoneNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.isActive === true ? 'Activo': 'Inactivo'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Género</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
      </ng-container>
<!--
      <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef mat-sort-header>available</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.available}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="activityTypeId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>activityTypeId</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.activityTypeId}} </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="activityType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.activityType.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="primary"
            aria-label="Editar"
            (click)="openEditVoluntarioDialog('Editar Voluntario',row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            aria-label="Eliminar"
            (click)="openDeleteVoluntarioDialog(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="no-results" *ngIf="dataSource.data.length === 0">
      No hay resultados
    </div>

    <mat-paginator
      #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</main>
