.container{
  padding: 150px 0;
  text-align: center;
}

.title{
  font-weight: 700;
  font-size: 250px;
  margin-bottom: 90px;
}

.description{
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 25px;
}

.info{
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
}
