<app-title-module
  title="Donantes"
></app-title-module>


<app-options-module>
  <button mat-raised-button color="primary" (click)="openAddDonanteDialog()">
    Agregar
  </button>
</app-options-module>

<div class="container">
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <!-- ID Donante Column -->
      <ng-container matColumnDef="id_donante">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id_donante }}</mat-cell>
      </ng-container>

      <!-- Nombre Donante Column -->
      <!-- Nombre Donante Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Nombre</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.nombre }}</mat-cell>
      </ng-container>

      <!-- Tipo de Donación Column -->
      <!-- Apellido Donante Column -->
      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Apellido</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.apellido }}</mat-cell>
      </ng-container>

      <!-- Celular Donante Column -->
      <ng-container matColumnDef="celular_donante">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Celular</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.celular_donante }}</mat-cell>
      </ng-container>

      <!-- Correo Donante Column -->
      <ng-container matColumnDef="correo_donante">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Correo</mat-header-cell
        >
        <mat-cell *matCellDef="let row">{{ row.correo_donante }}</mat-cell>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones" class="columna-acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <!-- Botones de acción aquí -->

          <button
            mat-icon-button
            color="warn"
            aria-label="Eliminar"
            (click)="openDeleteDonanteDialog(row.id_donante)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [length]="dataSource.filteredData.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
</div>
