/* delete-donante-dialog.component.css */

mat-dialog-content p {
    color: #666; /* Color para el texto, ajusta según tu preferencia */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
  }
  
  mat-dialog-actions {
    justify-content: flex-end; /* Alinea los botones hacia la derecha */
  }
  
  button[mat-dialog-close] {
    margin-right: 8px; /* Espacio entre botones */
  }
  
  button[color="warn"] {
    color: #d32f2f; /* Color resaltado para el botón de eliminar */
  }
  